<!DOCTYPE html>
<html lang="en"
      xmlns:f="jakarta.faces.core"
      xmlns:h="jakarta.faces.html"
      xmlns:ui="jakarta.faces.facelets"
      xmlns:p="http://primefaces.org/ui">
<f:view contentType="text/html">
    <h:head>
        <title>Quarkiverse PrimeFaces</title>
    </h:head>
    <h:body>
        <p:growl>
            <p:autoUpdate />
        </p:growl>

        <h:form id="form">
            <p:dataTable var="car" value="#{lazyView.lazyModel}" paginator="true" rows="10"
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15" selectionMode="single" selection="#{lazyView.selectedCar}" id="carTable" lazy="true">
                <p:ajax event="rowSelect" listener="#{lazyView.onRowSelect}" update=":form:carDetail" oncomplete="PF('carDialog').show()" />
                <p:column headerText="Id" sortBy="#{car.id}" filterBy="#{car.id}">
                    <h:outputText value="#{car.id}" />
                </p:column>
                <p:column headerText="Year" sortBy="#{car.year}" filterBy="#{car.year}">
                    <h:outputText value="#{car.year}" />
                </p:column>
                <p:column headerText="Brand" sortBy="#{car.brand}" filterBy="#{car.brand}">
                    <h:outputText value="#{car.brand}" />
                </p:column>
                <p:column headerText="Color" sortBy="#{car.color}" filterBy="#{car.color}">
                    <h:outputText value="#{car.color}" />
                </p:column>
            </p:dataTable>

            <p:dialog header="Car Detail" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="carDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty lazyView.selectedCar}" columnClasses="label,value">
                        <f:facet name="header">
                            <p:graphicImage name="demo/images/car/#{lazyView.selectedCar.brand}-big.gif"/>
                        </f:facet>

                        <h:outputText value="Id:" />
                        <h:outputText value="#{lazyView.selectedCar.id}" />

                        <h:outputText value="Year" />
                        <h:outputText value="#{lazyView.selectedCar.year}" />

                        <h:outputText value="Color:" />
                        <h:outputText value="#{lazyView.selectedCar.color}" style="color:#{lazyView.selectedCar.color}"/>

                        <h:outputText value="Price:" />
                        <h:outputText value="#{lazyView.selectedCar.price}">
                            <f:convertNumber type="currency" currencySymbol="$" />
                        </h:outputText>
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>
    </h:body>
</f:view>
</html>